*{
    padding: 0;
    margin: 0;
}
body{
    height:100svh;
    width:100%;
    background-color: teal;
}
.print{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 20px;
    
}
.pri{
    border:1px solid black;
    border-radius: 8px;
    width:calc((100% - 100px )/4);
    padding-top: 10px;
    gap:20px;
    background-color: rgb(179, 172, 172);
}
p{
    line-height: 30px;
    padding-left: 10px;
}
h2{
    text-align: center;
    
}
.h2{
    padding-bottom: 20px;
}
